body{
    background: linear-gradient(rgb(50,100,150), rgb(50,150,100));
    background-repeat: no-repeat;
}

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}


.container{
    
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    max-width: 955px;
    margin: auto;
    overflow-y: auto;
}

.message{
    
    background-color: grey;
    padding: 10px;
    margin: 6px;
    border-radius: 10px;
}
.left{
    align-self: flex-start;
    text-align: left;
}
.right{
    align-self: flex-end;
    text-align: right;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#msg-inp{
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    margin: 6px;
}
.btn{
    cursor: pointer;
    border: 2px solid rgb(103, 103, 241);
    border-radius: 5px;

}